<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="timestamp" value="0"/>
		<add key="maxcount" value="50"/>
		<add key="channelid" value="939160042542874685"/>
	</appSettings>	

</configuration>
